<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.ac.uk/ox/cs/MDML"
			class = "uk.ac.ox.cs.mDML.MDMLPackage"
			genModel = "model/generated/MDML.genmodel" />
	</extension>
</plugin>
